<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>Phillies Baseball</title> 
        <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css"> 
        <link href="../static/css/main.css" rel="stylesheet" type="text/css"> 
        <link rel="shortcut icon" href="https://images.ctfassets.net/iiozhi00a8lc/t143_favicon143_o6hu144t_ppnn6419_png/6793994cea5e7cd70dd2f3ad0ccace01/t143_favicon.png"> 
      </head>
      <body> 
        <nav class="navbar navbar-expand-lg navbar-light phillies-nav">
          <a class="navbar-brand" href="#">Philadelphia Phillies</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
        <div class="container"> 
          {% block container %}{% endblock %} 
        </div> 
     
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script> 
        <script src="../static/js/bootstrap.min.js"></script> 
      </body> 
</html>